In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("./data/clean_dataset.csv")

In [3]:
data.shape

(2919, 196)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Columns: 196 entries, Unnamed: 0 to YearBetweenSoldAndBuilt
dtypes: float64(3), int64(192), object(1)
memory usage: 4.4+ MB

In [6]:
data.describe()

,Unnamed: 0,Id,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleConditionAbnorml,SaleConditionAdjLand,SaleConditionAlloca,SaleConditionFamily,SaleConditionNormal,SaleConditionPartial,TotalArea,TotalArea1stAnd2nd,YearSinceSold,YearBetweenSoldAndBuilt
count,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,...,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000
mean,1460.000000,1460.000000,57.766701,10168.114080,6.089072,5.564577,1971.312778,1978.040425,101.396026,2.396711,...,0.065091,0.004111,0.008222,0.015759,0.822885,0.083933,16089.554985,1496.065433,2.207263,36.479959
std,842.787043,842.787043,33.481636,7886.996359,1.409947,1.113131,30.291442,25.462179,178.854579,0.580293,...,0.246728,0.063996,0.090317,0.124562,0.381832,0.277335,8698.610756,503.675790,1.314964,30.336182
min,1.000000,1.000000,0.000000,1300.000000,1.000000,1.000000,1872.000000,1900.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4011.000000,334.000000,0.000000,-1.000000
25%,730.500000,730.500000,43.000000,7478.000000,5.000000,5.000000,1953.500000,1958.000000,0.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,12377.000000,1120.000000,1.000000,7.000000
50%,1460.000000,1460.000000,63.000000,9453.000000,6.000000,5.000000,1973.000000,1979.000000,0.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,15093.000000,1440.000000,2.000000,35.000000
75%,2189.500000,2189.500000,78.000000,11570.000000,7.000000,6.000000,2001.000000,2003.000000,163.500000,3.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,18308.500000,1742.500000,3.000000,54.500000
max,2919.000000,2919.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,4.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,224252.000000,5642.000000,4.000000,136.000000

In [44]:
data.head()

,Unnamed: 0,Id,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleConditionAbnorml,SaleConditionAdjLand,SaleConditionAlloca,SaleConditionFamily,SaleConditionNormal,SaleConditionPartial,TotalArea,TotalArea1stAnd2nd,YearSinceSold,YearBetweenSoldAndBuilt
0,1,76,21,1596,4,5,1973,1973,0,2,...,0,0,0,0,1,0,5035,988,1,36
1,2,435,21,1890,4,7,1972,1972,0,2,...,0,0,0,0,1,0,4519,630,2,36
2,3,490,21,1526,4,8,1970,2002,0,2,...,0,0,0,0,1,0,4353,630,1,39
3,4,615,21,1491,4,6,1972,1972,0,2,...,0,0,0,0,1,0,4152,630,0,38
4,5,650,21,1936,4,6,1970,1970,0,2,...,0,0,0,0,1,0,4477,630,3,37

In [8]:
?zip

In [54]:
train = data.loc[data.set == 'train', data.columns.values[2:]]
test = data.loc[data.set == 'test', data.columns.values[2:]]

In [56]:
test.index.values
#y_train = train.SalePrice
#X_train = train.drop(['SalePrice', 'logSalePrice'], axis=1)

array([   7,    8,    9, ..., 2916, 2917, 2918])

In [52]:
X_train.shape

(1460, 192)